extend abstract/abs_view.pug
block append style
	style(type='text/css')
		include include/loadingstyle.css

block append content
	.container
		p.flow-text Selamat datang di #{appname} #{appdesc}, silahkan upload tugas anda disini.
		.row
			.col.m6.s12.push-m6
				.card-panel.teal
					span.white-text
						h5 Catatan:
						p=config.catatan
			form(class='col m6 s12 pull-m6' enctype='multipart/form-data' action='/upload' method='post' id='form-submit-assignment')
				.row
					.input-field.col.s12
						input(type='text' name='nama' id='nama' class='validate' value=lastInput.nama)
						label(for='nama') Nama
				.row
					.input-field.col.s12
						input(type='text' name='nim' id='nim' class='validate' placeholder='XX.XX.XXXX' value=lastInput.nim)
						label(for='nim') NIM
				.row
					.input-field.col.s12
						input(type='text' name='nkomputer' id='nkomputer' class='validate' placeholder='01' value=lastInput.nkomputer)
						label(for='nkomputer') Nomor Komputer
				.row
					.file-field.input-field.col.s12
						.btn
							span File
							input(type='file' name='fileTugas')
						.file-path-wrapper
							input(type='text' class='file-path validate' placeholder='input file mu disini')
				.row.right
					button.btn.waves-effect.waves-light(type='submit' name='action') Kumpulkan
						i.material-icons.right send

	.loadingscreen(id="loading")
		.loadingscreen-inner
			.preloader-wrapper.big.active
				.spinner-layer.spinner-blue-only
					.circle-clipper.left
						.circle
					.gap-patch
						.circle
					.circle-clipper.right
						.circle
			h5 Sedang Mengupload Tugas
block append script
	script(type='text/javascript' src='/js/jquery.form.min.js')
	script
		include include/uploadpage.js